 # Python
  __pycache__/
  *.py[cod]
  *$py.class

  # Virtual environments
  venv/
  .venv/

  # Environment variables
  .env

  # Tooling / local files
  .pytest_cache/
  .mypy_cache/
  .ruff_cache/
  .DS_Store